// Write your overrides
@font-face {
  font-family: 'HyundaiSans';
  src: url('@/assets/fonts/HyundaiSans.ttf');
}

@font-face {
  font-family: 'HyundaiHarmony';
  src: url('@/assets/fonts/Hyundai_Harmony+L.ttf');
}

// breadcrumbs style 재정의
.v-breadcrumbs--density-default {
  padding-top: 5px;
}


// 테이블 scss
.v-locale--is-ltr .v-table > .v-table__wrapper > table > thead > tr > th {
  text-align: center;
  border: 0.5px solid #c5dbec;
  background-color: rgba(86, 64, 76, 0.9);
  color: white;
  block-size: 25px;
}
.v-table--density-default > .v-table__wrapper > table > tbody > tr > td {
  border: 0.5px solid #c5dbec;
  text-align: center;
  block-size: 25px;
}
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > td {
  border: 0.5px solid #c5dbec;
  text-align: center;
  block-size: 25px;
}


// 폼 scss
.v-input--density-comfortable {
  --v-input-control-height: 36px;
  --v-input-padding-top: 6px;
}
.v-input--density-comfortable .v-field--variant-outlined {
  --v-field-padding-bottom: 6px;
}
