// Write your overrides
@font-face {
  font-family: 'HyundaiSans';
  src: url('@/assets/fonts/HyundaiSans.ttf');
}

@font-face {
  font-family: 'HyundaiHarmony';
  src: url('@/assets/fonts/Hyundai_Harmony+L.ttf');
}



